<?xml version="1.0" ?>

<!--                arm.xacro                -->
<!-- This document describes the robot model -->
<!--   Machenical Practice Testing Version   -->
<!--        Last editted: 11/18, 2018        -->
<!--            Editor: Wolf Chen            -->

<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BGN - Include -->
  <xacro:include filename="$(find arm_description)/urdf/links_joints.xacro"/>
  <xacro:include filename="$(find arm_description)/urdf/robot_parameters.xacro"/>
  <!-- END - Include -->   

  <!-- BGN - Robot Description -->

  <!-- Body -->
  <arm_cylinder name="${l0b}"
                mass="${base_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 ${base_z}"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${base_r}" length="${base_l}"/>

  <arm_joint_trans name="${l0b}_to_${m0b}" type="revolute"
                   axis_xyz="0 0 1"
                   limit="1.57"
                   origin_rpy="0 0 0" origin_xyz="0 0 ${base_l}"
                   parent="${l0b}"
                   child="${m0b}"/>

  <arm_box name="${m0b}"
           mass="${basem_mass}"
           origin_rpy="0 0 0" origin_xyz="0 0 ${basem_z}"
           ixx="1" ixy="0" ixz="0"
           iyy="1" iyz="0"
           izz="1"
           size="${basem_w} ${basem_l} ${basem_h}"/>

  <arm_joint_trans name="${m0b}_to_${l01}" type="revolute"
                   axis_xyz="0 1 0"
                   limit="1.57"
                   origin_rpy="0 0 0" origin_xyz="0 0 ${basem_h}"
                   parent="${m0b}"
                   child="${l01}"/>

  <arm_box name="${l01}"
           mass="${body_mass}"
           origin_rpy="0 0 0" origin_xyz="0 0 ${body_z}"
           ixx="1" ixy="0" ixz="0"
           iyy="1" iyz="0"
           izz="1"
           size="${body_w} ${body_l} ${body_h}"/>

  <arm_joint_trans name="${l01}_to_${l02}" type="revolute"
                   axis_xyz="0 1 0"
                   limit="1.57"
                   origin_rpy="0 0 0" origin_xyz="0 0 ${body_h}"
                   parent="${l01}"
             child="${l02}"/>

  <arm_box name="${l02}"
           mass="${body_mass}"
           origin_rpy="0 0 0" origin_xyz="0 0 ${body_z}"
           ixx="1" ixy="0" ixz="0"
           iyy="1" iyz="0"
           izz="1"
           size="${body_w} ${body_l} ${body_h}"/>

  <arm_joint_trans name="${l02}_to_${l0h}" type="revolute"
                   axis_xyz="0 1 0"
                   limit="0.785"
                   origin_rpy="0 1.57 0" origin_xyz="0 0 ${body_h}"
                   parent="${l02}"
                   child="${l0h}"/>

  <arm_box name="${l0h}"
           mass="${head_mass}"
           origin_rpy="0 0 0" origin_xyz="${head_x} ${head_y} ${head_z}"
           ixx="1" ixy="0" ixz="0"
           iyy="1" iyz="0"
           izz="1"
           size="${head_w} ${head_l} ${head_h}"/>

  <!-- End Effector - Telescopic Head -->
  <arm_joint_dl_trans name="${l0h}_to_${m0d}" type="prismatic"
                      axis_xyz="0 0 1"
                      lower="0.00" upper="0.47"
                      origin_rpy="0 0 0" origin_xyz="${drillm_x} ${drillm_y} ${drillm_z}"
                      parent="${l0h}"
                      child="${m0d}"/>

  <arm_cylinder name="${m0d}"
                mass="${drillm_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 0"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${drillm_r}" length="${drillm_l}"/>

  <arm_joint_con_trans name="${m0d}_to_${edma}"
                       axis_xyz="0 0 1"
                       origin_rpy="0 0 0" origin_xyz="0 0 ${drillm_zz}"
                       parent="${m0d}"
                       child="${edma}"/>

  <arm_cylinder name="${edma}"
                mass="${drillma_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 ${drillma_z}"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${drillma_r}" length="${drillma_l}"/>

  <!-- End Effector Alternative Head -->
  <arm_joint_trans name="${l0h}_to_${e0t}" type="revolute"
                   axis_xyz="0 0 1"
                   limit="0.785"
                   origin_rpy="0 0 0" origin_xyz="${TT_x} ${TT_y} ${TT_z}"
                   parent="${l0h}"
                   child="${e0t}"/>

  <arm_cylinder name="${e0t}"
                mass="${TT_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 0"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${TT_r}" length="${TT_l}"/>

  <arm_joint_dl_trans name="${e0t}_to_${e0db}" type="prismatic"
                      axis_xyz="0 0 1"
                      lower="0.00" upper="0.43"
                      origin_rpy="0 0 0" origin_xyz="${drillb_x} 0 ${tool_z}"
                      parent="${e0t}"
                      child="${e0db}"/>

  <arm_cylinder name="${e0db}"
                mass="${drillb_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 ${drillb_z}"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${drillb_r}" length="${drillb_l}"/>

  <arm_joint_dl_trans name="${e0t}_to_${e0ds}" type="prismatic"
                      axis_xyz="0 0 1"
                      lower="0.00" upper="0.43"
                      origin_rpy="0 0 0" origin_xyz="${drills_x} ${drills_y} ${tool_z}"
                      parent="${e0t}"
                      child="${e0ds}"/>

  <arm_cylinder name="${e0ds}"
                mass="${drills_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 ${drills_z}"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${drills_r}" length="${drills_l}"/>

  <arm_joint_dl_trans name="${e0t}_to_${e0sd}" type="prismatic"
                      axis_xyz="0 0 1"
                      lower="0.00" upper="0.43"
                      origin_rpy="0 0 0" origin_xyz="${SD_x} ${SD_y} ${tool_z}"
                      parent="${e0t}"
                      child="${e0sd}"/>

  <arm_cylinder name="${e0sd}"
                mass="${SD_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 ${SD_z}"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${SD_r}" length="${SD_l}"/>

  <!-- End Effector - Ending Tube -->
  <joint name="ending_tube_position_joint" type="fixed">
    <origin rpy="0 0 0" xyz="${ET_x} ${ET_y} ${ET_z}"/>
    <parent link="head_link"/>
    <child link="e0e"/>
  </joint>

  <arm_cylinder name="e0e"
                mass="${ET_mass}"
                origin_rpy="0 0 0" origin_xyz="0 0 ${ET_zz}"
                ixx="1" ixy="0" ixz="0"
                iyy="1" iyz="0"
                izz="1"
                radius="${ET_r}" length="${ET_l}"/>

  <!-- END - Robot Description -->

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>
